akregatorrc
arkrc
autostart
autostart-scripts
baloofileinformationrc
baloofilerc
bluedevilglobalrc
clash
clash_win
dconf
dolphinrc
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerdrc
kactivitymanagerd-statsrc
kate
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kded_device_automounterrc
kdedefaults
kdeglobals
kde.org
kglobalshortcutsrc
khotkeysrc
kiorc
kmail2rc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
mimeapps.list
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-pk-updates
plasmashellrc
powermanagementprofilesrc
pulse
session
spectaclerc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc
xsettingsd
KDE
fcitx
fcitx5
ibus
neofetch
plasmanotifyrc
variety
nvim/plugged
kfontviewrc
QtProject.conf
khelpcenterrc
GIMP
discoverrc
filetypesrc
kded5rc
libreoffice
okularrc
